<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <header>
        <h1>Добро пожаловать!</h1>
    </header>

    <main>
        <h2>Выберите тип входа</h2>
        <div class="buttons">
            <a href="/auth/login/client" class="btn">Вход как клиент</a>
            <a href="/auth/login/business" class="btn">Вход как предприятие</a>
        </div>
    </main>
</body>
</html>
